
<!--=== Header ===-->
<div class="header" ng-controller="header as vm">
    <div class="container">

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
        <div class="container">
            <ul class="nav navbar-nav">
                <!-- Home -->

                <li ng-repeat="state1 in vm.states" data-ng-class="{'dropdown':state1.children}" >
                    <a ui-sref="{{ state1.link }}" class="dropdown-toggle" data-toggle="dropdown">{{ state1.label }}

                    </a>
                    <ul ng-if="state1.children" class="dropdown-menu">
                        <li ng-repeat="state2 in state1.children"  data-ng-class="{'dropdown-submenu':state2.children}" >
                            <a  ui-sref="{{ state2.link }}"  >{{ state2.label }}</a>
                            <ul ng-if="state2.children" class="dropdown-menu">
                                <li ng-repeat="state3 in state2.children">
                                    <a ui-sref="{{ state3.link }}">{{ state3.label }}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <!--<li class="dropdown" ng-repeat="state in vm.states"-->
                    <!--ng-class="{ active: vm.isSelected(state) }" ng-click="vm.selectState(state)" >-->
                    <!--<a href="#" ui-sref="{{state.sref}}" >{{state.name}}</a>-->
                <!--</li>-->

                <!-- End Home -->


            </ul>



        </div><!--/end container-->
    </div><!--/navbar-collapse-->
</div>
<!--=== End Header ===-->
</div>




<!--<ul class="nav navbar-nav">-->
    <!--&lt;!&ndash; Home &ndash;&gt;-->

    <!--<li ng-repeat="state1 in vm.states" data-ng-class="{'dropdown':state1.children}" >-->
        <!--<a ui-sref="{{ state1.link }}" ng-click="vm.selectState(state1)"-->
           <!--class="dropdown-toggle" data-toggle="dropdown">{{ state1.label }}-->

        <!--</a>-->
        <!--<ul ng-if="state1.children" class="dropdown-menu">-->
            <!--<li ng-repeat="a2 in state1.children"  data-ng-class="{'dropdown-submenu':a2.children}" >-->
                <!--<a  ui-sref="{{ a2.link }}" ng-click="vm.selectState(a2)" >{{ a2.label }}</a>-->
                <!--<ul ng-if="a2.children" class="dropdown-menu">-->
                    <!--<li ng-repeat="a3 in a2.children">-->
                        <!--<a ui-sref="{{ a3.link }}">{{ a3.label }}</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</li>-->

    <!--&lt;!&ndash;<li class="dropdown" ng-repeat="state in vm.states"&ndash;&gt;-->
    <!--&lt;!&ndash;ng-class="{ active: vm.isSelected(state) }" ng-click="vm.selectState(state)" >&ndash;&gt;-->
    <!--&lt;!&ndash;<a href="#" ui-sref="{{state.sref}}" >{{state.name}}</a>&ndash;&gt;-->
    <!--&lt;!&ndash;</li>&ndash;&gt;-->

    <!--&lt;!&ndash; End Home &ndash;&gt;-->


<!--</ul>-->